<div class="h-full" style="width: 1152px">
  <div class="flex">
    <H1 class="font-bold font-serif p-10 text-5xl">{{ pageTitle }}</H1>
    <input
      type="text"
      [(ngModel)]="listFilter"
      class="mt-7 mb-7 w-full ml-4 mr-2 rounded-xl text-center  text-slate-800 text-3xl"
      placeholder="Search Books"
    />
  </div>

  <hr class="h-px mb-8 bg-gray-200 border-0 dark:bg-gray-500" />
  <div class="m-auto px-5 grid grid-cols-5 w-full">
    <div
      *ngFor="let book of filteredBooks"
      class="mx-2 px-1 py-3 pb-6 items-center"
    >
      <book-thumbnail [book]="book"></book-thumbnail>
    </div>
  </div>
</div>
